// Colours

$stormRed: #E51937;
$contrastRed: #E44C40;
$bodyText: #4f4f4f;
$lightColour: #fff;
$darkColour: #000; 
$darkBlue:#364A5E;

// Fonts & Font Sizes

$mainFont: 'Montserrat', sans-serif;


// Global Dimensions

$padding: 1.6em;
$border-radius:5px;
